body{
  font-family: 'Noto Sans TC';
  background-color: #000000;
}

.wraper{
  max-width: 1920px;
  margin: 0 auto;
  // outline: 1px solid red;
  height: 3000px;
}

.header{
  max-width: 1298px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.topbar{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;

  a.logo{
    display: block;
    flex: 1;

    img{
      width: 200px;
    }
  }
  a.menu{
    width: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;

    &:hover{
      text-decoration: underline;
    }
  }
}

.main-box{

  h1{
    margin-top: 30px;
    font-weight: 900;
    font-size: 120px;
    line-height: 120%;
    color: #fff;
  }
  a.btn{
    display: block;
    width: 150px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 50px 0;

    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}

.arrow-box{

}

.slogn-box{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 900;
  margin-bottom: 50px;

  .sub-title-1{
    width: 33%;
    font-size: 32px;
    line-height: 1.2;
  }
  .sub-title-2{
    width: 67%;
    font-size: 48px;
    line-height: 1.5;
  }

}


.spotligth-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;

  .item{
    width: 32.5%;
    border: 1px solid #666;
    border-radius: 20px;
    padding: 80px 40px;
    color: #fff;

    img{
      width: 50px;

    }

    h3{
      font-size: 32px;
      font-weight: 900;
      line-height: 1.2;
      margin: 10px 0;
    }

    p{
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.sponsor-box{
  margin-bottom: 50px;

  h3{
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 60px;
  }

  .sponsor-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 25%;
      z-index: 1;
      background: linear-gradient(to right, #000, rgba(255, 255, 255, 0));
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 25%;
      z-index: 1;
      background: linear-gradient(to left, #000, rgba(255, 255, 255, 0));
    }

    img{
      width: 160px;
      height: 40px;
      padding: 0;
      margin: 10px;
      display: block;
      // outline: 1px solid red;
    }
  }
}

.feedback-box{
  clear: both;
  display: flex;
  justify-content: space-between;

  .feedback-card{
    width: 32.5%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;

    .star{
      margin-bottom: 10px;
      img{
        width: 14px;
      }
    }
    p{
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
      flex-grow: 1;
    }
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .avatar{
        width: 48px;
        margin-right: 10px;
        img{
          width: 48px;
        }
      }

      .bio{
        flex: 1;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}



/* container */
.container{
  width: 100%;
  padding: 160px 310px;
  background-color: #fff;
  border-radius: 160px;
  margin-bottom: 158px;

  h2{
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 80px;
    color: #000;
  }

  .search-box {
    background: #F2F2F2;
    border-radius: 16px;
    padding: 20px 50px;
    display: block;
    position: relative;
    margin-bottom: 30px;

    input[type="text"] {
      border: none;
      font-size: 16px;
      line-height: 1.5;
      width: 100%;
      padding: 5px;
      background: #F2F2F2;
    }
    i {
			position: absolute;
			left: 30px;
			top: 30px;
			color: #999;

      img{
        width: 18px;
      }
		}
  }

  .filter-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    a.filter{
      display: block;
      width: 132px;
      border: 1px solid #F2F2F2;
      border-radius: 16px;
      padding: 20px 32px 20px 40px;
      color: #000;

      span{
        display: inline-block;
        margin-right: 5px;
      }

      img{
        width: 17px;
        vertical-align: middle;
      }
    }
    .menubar{
      flex: 1;
      display: flex;
      justify-content: center;

      a{
        display: block;
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #919191;


        &:hover{
          background-color: #F2F2F2;
          color: #000;
        }
      }
    }
    .sort{
      width: 164px;
			height: 24px;
      padding: 20px 32px 20px 40px;
			position: relative;
			display: inline-block;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			color: #000;

      i {
        position: absolute;
        right: 40px;
        top: 25x;
        color: #999;

        img{
          width: 18px;
        }
      }

      select {
        width: 100%;
        // height: 100%;
        margin: 0;
        padding: 20px 32px 20px 40px;
        border: none;
        outline: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
        border-radius: 16px;
        border: 1px solid #F2F2F2;
        font-size: 16px;
        list-style: 1.5;
      }
      // select option[selected]:first-child {
      //   color: gray;
      // }
    }


  }

  .content{
    // width: 1296px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card{
    width: 32.5%;
    margin-bottom: 25px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;

    .photo{
      img{
        vertical-align: middle;
      }
    }

    .info{
      display: block;
      flex-grow: 1;
      padding: 20px 32px;
      border-bottom: 1px solid #F2F2F2;

      h3{
        font-size: 20px;
        line-height: 24px;
        font-weight: 900;
        margin-bottom: 12px;

        a{
          color: #020202;
        }
      }
      p{
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #525252;
      }
    }

    .author{
      padding: 20px 32px;
      border-bottom: 1px solid #F2F2F2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      color: #020202;

      .title{
        width: 50%;
        font-weight: 700;
      }
      .name{
        width: 50%;
        font-weight: 400;
        text-align: right;
      }
    }
    .item{
      padding: 20px 32px;
      font-size: 16px;
      line-height: 24px;
      color: #020202;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a{
        display: block;
        color: #020202;

        &:hover{
          color:  #c0392b;
        }
      }
      .share{
        width: 18px;
        height: 18px;
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/icons/share.png");
        background-size: contain;
        }
    }
  }


  .pager{
    display: flex;
    justify-content: end;
    align-items: center;

    a{
      display: inline-block;
      padding: 15px 20px;
      color: #000;
      border-radius: 16px;
      font-size: 14px;
      line-height: 1.5;
      margin-right: 4px;

      &:hover{
        background: #020202;
        color: #fff;
      }
    }
    /* keyboard-arrow-right */
    a:nth-last-child(1){
      padding: 15px 18px;
      img{
        vertical-align: middle;
      }
      &:hover{
        background-color: #ddd;
      }
    }
  }
}

.common-problem{
  max-width: 1298px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 800px;
  color: #fff;

  h3.title{
    width: 35%;
    font-size: 32px;
    font-weight: 900;
  }
  .question-box{
    flex: 1;

    .accordion{
      border: 1px solid #525252;
      border-radius: 16px;
      margin-bottom: 20px;

      .accordion-header {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px 40px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
      }
      
      .accordion-icon {
        margin-right: 15px;
      }
      
      .accordion-content {
        display: none;
        padding: 10px 30px 30px 80px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
      }
    }
  }
}




